# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Dataset
VisDrone_Dataset/
dataset/images/
dataset/labels/

# YOLO runs
runs/

# Large files
*.pt
*.mp4
*.avi

# OS
.DS_Store
Thumbs.db